#title{
    color: rgb(255, 145, 0);
}
input{
    border: none;
    background-color: lightgray;
}
h5{
    padding-left: 120px;
}
.box{
    position: relative;
    right: 100px;
}
#input{
    width: 200px;
    height: 100px;
    position: relative;
    right: -50px;
}
.container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: blue;
}